@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Source Sans Pro', sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 55px;
    padding: 0 8px;

}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    min-height: 70vh;
    background-color: black;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius:10px;
   background-image: url('mu.jpg');
}
.bottom{
    position: sticky;
    height: 110px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.icons{
    margin: 12px 0;
}
.icons i{
    cursor: pointer;
}
#progressbar {
    width: 80vw;
    text-align: center;
}
.songitem{
        height: 50px;
        display: flex;
        background-color: white;
        color: black;
        width:500px;
        margin: 6px 10px;
        justify-content: space-between;
        align-items: center;
        border-radius: 23px;

}
.songitem img{
width: 35px;
margin: 0 20px;
border-radius: 40px ;
}
.timestamp i  {
    margin: 0 25px;
    cursor: pointer;
}
.songitemcontainer{
    margin-top: 20px;
}
.songinfo{
    position: absolute;
    left: 21vh;
}
.songinfo img {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}